@charset "utf-8";
/* CSS Document */
#kcontainer {
	width: 500px;
	height: 370px;
	border: thin solid #333;
}

#kcontainer h1{
	margin: 0;
	font-family: "Myriad Pro", "Myriad Pro Cond", "Myriad Pro Light";
	color: #000;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #930;
	font-size: 20px;
	background-color: #CCC;
	height: 30px;
	padding-left: 10px;
	padding-top: 5px;
}

#kcontainer #kformelemnts {
	margin: 0;
	padding: 20px;
	list-style: none;
}
#kcontainer #kformelemnts li {
	padding: 0;
	margin-bottom: 10px;
	padding-bottom: 10px;
	display: block;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
#kcontainer #kformelemnts li span{
	width: 80px;
	display: block;
	float: left;
	font-family: "Myriad Pro", "Myriad Pro Cond", "Myriad Pro Light";
	font-size: 14px;
	color: #000;
}

<!--Icons for operatrions-->
#iconcontainer {
	width: 500px;
	height: 40px;
	padding-bottom:10px;
	text-align:center;
	bottom:10px;	
	}
	
#iconcontainer ul{
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;	
	}
#iconcontainer ul li{
	display:block;
	float:left;
	margin-right:5px;
	
	}		




